#paneSelector {
  border-bottom: 1px solid ThreeDFace;
  background-color: -moz-Field;
}

#paneSelector radio {
  -moz-appearance: none;
  padding: 5px;
  margin: 0;
  -moz-box-orient: vertical;
}

#taskLists radiogroup {
  margin: 0;
}

#pane {
  margin: 10px;
}

#taskLists {
  -moz-appearance: listbox;
  margin-right: 10px;
}

#taskLists radio {
  -moz-appearance: none;
  cursor: pointer;
  padding: 5px;
  margin: 0;
  border-bottom: 1px dotted ActiveBorder;
  -moz-box-orient: horizontal;
}

#taskDisplay {
  -moz-appearance: listbox;
}

#paneSelector radio,
#taskLists radio {
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#paneSelector radio[selected="true"],
#taskLists radio[selected="true"] {
  background-color: Highlight;
  color: HighlightText;
}

#menu-keymanager {
  list-style-image: url("chrome://mccoy/skin/keymanager/key.png");
}

#menu-addons {
  list-style-image: url("chrome://mccoy/skin/addon.png");
}

#menu-console {
  list-style-image: url("chrome://mccoy/skin/console.png");
}

#menu-config {
  list-style-image: url("chrome://mccoy/skin/config.png");
}

#menu-inspector {
  list-style-image: url("chrome://mccoy/skin/inspector.png");
}

#menu-help {
  list-style-image: url("chrome://mccoy/skin/help.png");
}

#menu-update {
  list-style-image: url("chrome://mccoy/skin/update.png");
}

#menu-update[loading] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

#developmentPane {
  list-style-image: url("chrome://mccoy/skin/development/development.png");
}

#menu-addkey, #task-addkey {
  list-style-image: url("chrome://mccoy/skin/development/addkey.png");
}

#packagePane {
  list-style-image: url("chrome://mccoy/skin/package/package.png");
}

#updatePane {
  list-style-image: url("chrome://mccoy/skin/update/update.png");
}

#menu-signupdate, #task-signupdate {
  list-style-image: url("chrome://mccoy/skin/update/signupdate.png");
}

#menu-verifysign, #task-verifysign {
  list-style-image: url("chrome://mccoy/skin/update/verifysign.png");
}
